*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 15px;
  }

    
  .all {
    width: 700px;
    height: 700px;
    border: 1px solid red;
    position: relative;
  }

  .block {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
  }

  .block:nth-child(1) {
    top: 5px;
    left: 5px;
    background-color: red;
    z-index: 20;
  }

  .block:nth-child(2) {
    top: 55px;
    left: 55px;
    background-color: green;
    z-index: 90;
  }

  .block:nth-child(3) {
    top: 95px;
    left: 95px;
    background-color: blue;
    z-index: 50;
  }

.block:nth-child(2):hover {
    width: 300px;
    height: 300px;
    transition: all 5s 1s linear;
    transform: rotate(-45deg);
    /* scale тут не надо */
}
/* приоритетность стилей
у тэгов - 1
у классов - 10
у id -100  */