 /* flex-grow: 1; */
/* для пропорций между потомками флэкс контейнера */
    
/* flex-basis: 300px; */
/* желаемый размер, сколько эл-т будет занимать в контейнере. */

/* flex-shrink: 2;
во сколько раз эл-т сжимается быстрее других */

/* flex-shrink: 0;
не сжиматься вообще */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.boxesContainer {
    border: 1px solid gray;
    display: flex;
    width: 700px;
    flex-wrap: nowrap;

}

.box {
    flex-basis: 300px;
    height: 300px;
    border: 1px solid black;
}

.box1 {
    background-color: red;
    flex-shrink: 0;
}

.box2 {
    background-color: yellow;
    flex-shrink: 2;
}

.box3 {
    background-color: lightgreen;
    flex-shrink: 0;
}

/* ----- REGISTR FORM -------- */

.registerForm {
    width: 455px;
    height: 555px;
    padding: 30px;
    border-radius: 20px;
    background-color: lightblue;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.registerForm h4 {
    font-size: 50px;
}

.registerForm h3 {
    font-size: 18px;

} 

input {
    width: 100%;
    padding: 10px;
    color: #ccc;
    background-color: #fff;
    border-radius: 5px;

}

.form__group-name, .form__group-tel, .form__group-radio {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.registerForm p {
    align-self: flex-start;
    margin-top: 10px;
}

.registerForm button {
    color: lightblue;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 15px;
}