*{
    padding: 0;
    margin: 0;
}

*{
    background-color: rgb(220, 219, 219);
}

h1 {
    margin: 25px;
    font-size: 19;
    color:black;
}

p{
    background-color: #34495E;
 }

.paragraph1, .paragraph2, .paragraph3 {
    margin: 25px;
    padding: 21px;
    color: white;
    text-align:left;
    background-color: #34495E;
    border: 1px solid #34495E;
    border-radius: 20px;
 }   

 